<div class="container">
    <h1 class="text-center fs-4 my-2">Recuperar Contraseña</h1>

    <div class="form container-md">
        <section class="form-group my-2">
            <label for="userName" class="form-label">Email de tu cuenta</label>
            <input type="text" [(ngModel)]="email" name="userName" placeholder="Email" id="userName" class="form-control">
        </section>

        <section class="d-flex align-items-center justify-content-around">
            <button class="my-2 mx-a btn btn-primary" (click)="send()" type="button">Login</button>
            <button class="my-2 mx-a btn btn-secondary" (click)="reset()" type="button">Limpiar</button>
        </section>

        
        <!-- error messages of the form -->
        <div *ngIf="infoUser.length > 0" class="alert alert-success alert-dismissible fade show" role="alert">
            <ul>
              <li *ngFor="let info of infoUser">
                {{info}}
              </li>
            </ul>
            <button type="button" class="btn-close" (click)="cleanInfo()" aria-label="Close"></button>
          </div>

        <a href="/" class="link my-2">¿Olvidaste tu Contraseña?</a>
    </div>
</div>