<h1 class="text-center fs-4 py-2 mb-2">Categorias</h1>

<section class="container">
  <div class="container-sm">
    <h3 class="text-center fs-2">Añadir Categoria</h3>
    <div class="d-flex justify-content-center">
      <input type="text" placeholder="Nombre" [(ngModel)]="CategoryCreate.category" name="category" minlength="3"
        maxlength="80" class="form-control mx-a">
      <button class="btn btn-success btn-sm ms-2 my-1" (click)="create()">Crear</button>
    </div>

    <!-- error messages of the form -->
    <div *ngIf="ErrorsCreate.length > 0" class="alert alert-danger alert-dismissible fade show" role="alert">
      <ul>
        <li *ngFor="let error of ErrorsCreate">
          {{error}}
        </li>
      </ul>
      <button type="button" class="btn-close" (click)="cleanErrors()" aria-label="Close"></button>
    </div>
  </div>


  <!-- Table of data -->

  <table class="table mx-a table-striped">
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Category of ListCategories">
        <td>{{Category.category}}</td>
        <td class="d-flex justify-content-around flex-wrap">
          <button class="btn btn-secondary mx-1 my-1" data-bs-toggle="modal" data-bs-target="#modalUpdate"
            (click)="loadUpdate(Category._id)" data-id="{{Category._id}}">Editar</button>
          <button class="btn btn-danger my-1 mx-1" data-bs-toggle="modal" data-bs-target="#modalDelete"
            (click)="loadUpdate(Category._id)" data-id="{{Category._id}}">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="canLoadMore" class="container d-flex justify-content-center">
    <button class="btn btn-primary my-2 mx-a d-block" (click)="loadData()">Cargar Mas</button>
  </div>

</section>

<!-- modal edit -->
<div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Categoria</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form">
          <div class="d-flex">
            <input type="text" placeholder="Nombre" name="category" [(ngModel)]="CategoryUpdate.category"
              class="form-control mx-a my-1">
          </div>
        </form>

        <!-- error messages of the form -->
        <div *ngIf="ErrorsUpdate.length > 0" class="alert alert-danger alert-dismissible fade show" role="alert">
          <ul>
            <li *ngFor="let error of ErrorsCreate">
              {{error}}
            </li>
          </ul>
          <button type="button" class="btn-close" (click)="cleanErrors()" aria-label="Close"></button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="update()" data-bs-dismiss="modal">Editar</button>
      </div>
    </div>
  </div>
</div>


<!-- modal delete -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Categoria</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Estas seguro de eliminar el Categoria {{CategoryUpdate.category}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger" (click)="delete()" data-bs-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>