<h1 class="text-center mx-2 fs-4">Library app</h1>

<div class="container">
    <p>Administra una biblioteca pequeña</p>

    <section class="row">
        <article class="col col-12 col-md-6 col-lg-4">
            <div class="card text-center mx-2 my-1 p-1">
                <div class="card-body">
                    <h5 class="card-title">Libros</h5>
                    <p>Guarda libros en documentos pdf junto con su información  mas relevante para tener actulizada una gran biblioteca en linea.</p>
                </div>
            </div>
        </article>
        <article class="col col-12 col-md-6 col-lg-4">
            <div class="card text-center mx-2 my-1 p-1">
                <div class="card-body">
                    <h5 class="card-title">Autores</h5>
                    <p>Puedes ver quien es el autor de tu libro y añadir autores que conoscas para tener un orden en la biblioteca.</p>
                </div>
            </div>
        </article>
        <article class="col col-12 col-md-6 col-lg-4">
            <div class="card text-center mx-2 my-1 p-1">
                <div class="card-body">
                    <h5 class="card-title">Categorias</h5>
                    <p>Encuentra las categorias mas conocidas para que tu libro este clasificado de forma correcta y sea facil de buscar.</p>
                </div>
            </div>
        </article>
        <article class="col col-12 col-md-6 col-lg-4">
            <div class="card text-center mx-2 my-1 p-1">
                <div class="card-body">
                    <h5 class="card-title">Favoritos</h5>
                    <p>Crea y gestiona una lista de tus libros favoritos para asi tener lo que mas te gusta siempre a la mano.</p>
                </div>
            </div>
        </article>
        <article class="col col-12 col-md-6 col-lg-4">
            <div class="card text-center mx-2 my-1 p-1">
                <div class="card-body">
                    <h5 class="card-title">Usuarios</h5>
                    <p>Protegemos tus preferencias es por eso que debes crear una cuenta para que tus datos esten bajo la llave de una contraseña unica.</p>
                </div>
            </div>
        </article>
        <article class="col col-12 col-md-6 col-lg-4">
            <div class="card text-center mx-2 my-1 p-1">
                <div class="card-body">
                    <h5 class="card-title">Seguridad</h5>
                    <p>Todos los contenidos se encuentran protegidos asi que no tienes porque dudar al descargar algún recurso ya que es muy seguro.</p>
                </div>
            </div>
        </article>

    </section>
</div>