/* Custom properties */
:root{
    --primary-color: rgb(19, 50, 92);
}


/* Reset */

body{
    min-height: 100vh;
}
main{
    min-height: calc(100vh - 8em);
}

header, footer{
    background-color: var(--primary-color);
}

.modal img, .card img{
    display: block;
    max-width: 30vw;
    max-height: 40vh;
    margin: auto;
}
