.navbar{
    background-color: var(--primary-color, rgb(17, 34, 39));
}

.user_link{
    position: relative;
    display: block;
    width: 2.5em;
    aspect-ratio: 1/1;
    border-radius: 100vh;
    background-color: #eee;
    overflow: hidden;
    border: solid #eee .1em;
}

.user_link::before, .user_link::after{
    content: "";
    position: absolute;
    aspect-ratio: 1/1;
    background-color: #999;
    border-radius: 100vh;
}

.user_link::before{
    top: 35%;
    left: -5%;
    width: 110%;
/*    background-color: green;*/
}

.user_link::after{
    width: 70%;
    top: -10%;
    left: 15%;
    border: solid .2em #eee;
}