<h1 class="text-center fs-4 py-2 mb-2">Libros Favoritos</h1>

<section *ngIf="listBooks.length > 0; else add" class="container-lg">

    <table class="table">
        <thead>
            <tr>
                <th>Libro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of listBooks">
                <td>{{book.title}}</td>
                <td class="text-center">
                    <a *ngIf="book.document" href="{{book.document}}" target="_blank" class="btn btn-primary">Leer</a>
                    <button (click)="remove(book._id)" class="btn btn-danger ms-2">Borrar</button>
                </td>
            </tr>
        </tbody>

    </table>
    <p *ngIf="canLoadMore" class="text-center"><button (click)="loadData()" class="btn btn-primary">Cargar Más</button>
    </p>

</section>

<ng-template #add>
    <div class="container-sm text-center p-2 my-3">
        <p>por ahora no tienes libro favoritos, asegurate de agregarlos <a href="/books" class="btn btn-primary px-2">Aquí</a></p>
    </div>
</ng-template>
